
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Kavoon&display=swap');

body {

    margin: 0;
    padding: 0;
    background-color: #fff8f0;
  }
  header {
    background-color: #ffc7c7;
    padding: 20px;
    text-align: center;
  }
  header h1 {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 50px;
    color: #4d2c2c;
  }
  nav ul {
    background-color: #fff8b0;
    margin-top: 0;
    list-style-type: none;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  nav a:hover {
    background: #fff8b0;
    color: #db5577;
    padding: 10px;
  }
  nav a {
    color: #4d2c2c;
    text-decoration: none;
    font-weight: bold;
  }
  section.hero {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  section.hero img {
    width: 700px;
    height: auto;
    border-radius: 20px;
    margin-right: 30px;
  }
  section.hero aside {
    max-width: 500px;
  }
  section.hero aside h2 {
    font-family: "Delius", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    color: #5c3d2e;
    margin-bottom: 0px;
  }
  section.hero aside p {
    font-size: 18px;
    color: #7a5c48;
    margin-bottom: 50px;
  }
  section.hero aside a, section.about aside a {
    text-decoration: none;
    background-color: #db5577;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    color: #fff9eb;
    font-weight: bold;
  }
  section.services {
    font-family: "Delius", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    padding: 40px;
    text-align: center;
  }
  section.services h3 {
    font-size: 29px;
    color: #4d2c2c;
    margin-bottom: 20px;
  }
  section.services ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  section.services li {
    width: 200px;
    margin: 20px;
  }
  section.services li img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  section.services li p {
    margin-top: 10px;
    font-weight: bold;
    color: #5c3d2e;
  }
  section.about {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #ffe5d9;
  }
  section.about aside {
    max-width: 500px;
    padding-right: 30px;
  }
  section.about aside h3 {
    font-family: "Delius", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 29px;
    color: #4d2c2c;
    margin-bottom: 15px;
  }
  section.about aside p {
    font-size: 16px;
    color: #6a4e42;
    line-height: 1.8;
    margin-bottom: 45px;
  }
  section.about img {
    width: 500px;
    height: auto;
    border-radius: 20px;
  }
  footer {
    padding: 20px;
    background: #db5577;
    color: #fff9eb;
}

@media (max-width: 700px) {
  section.about {
    display: inline-block;
  }
  section.about img {
    margin-top: 40px;
    max-width: 400px;
  }
}